<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNS bind config edit</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        .read-only {
            color: rgba(0,0,0,.5)
        }
        .disabled-entry {
            color: rgba(0,0,0,.5);
            background-color: rgba(255,255,255,1) !important;
        }
        .editable {
            background-color: rgba(0,255,0,.1)
        }
        .header {
            font-weight: bold;
        }
        .optLeft {
            background-color: rgba(0,0,255,.1)
        }
        .optRight {
            background-color: rgba(0,0,255,.05)
        }
        .container {
            max-width: 99%
        }
        .hidden {
            display: none;
        }
        .bg-shady {
            background-color: rgba(50,50,50,.5)
        }
    </style>
    <script type="text/javascript">
        function addNewRow(){

        }
        function deleteRow(){
            this.event.srcElement.parentElement.parentElement.parentElement.parentElement.parentElement.remove();
        }
        function evalSelect(){
            var valEntry = this.event.srcElement.selectedOptions[0].value;
            var addSections = document.getElementsByClassName("add_section");
            for (var i = 0; i < addSections.length; i++){
                if (!addSections[i].classList.contains("hidden")){
                    addSections[i].classList.add("hidden");
                }
            }
            document.getElementById("div_add_"+valEntry).classList.remove("hidden")

        }
        function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  checkAndGenerateIDs();
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  var d = document.getElementById(data);
  ev.currentTarget.parentNode.removeChild(d);
  ev.currentTarget.parentNode.insertBefore(d,ev.currentTarget);
  //debugger;
  //ev.target.appendChild(document.getElementById(data));
}

function checkAndGenerateIDs(){
    var rows = document.getElementsByClassName("row");
    for (var i = 0; i < rows.length; i++){
        if (rows[i].id === "") {
            rows[i].setAttribute("id","row"+i+"GeneratedID");
        }
    }
}
    </script>
</head>
<body>
<div class="container">
    <h4>Here is the content of your file `{{bindOptions.path}}`:</h4>
    <div class="row">
        <div class="col-2 header">
            type
        </div>
        <div class="col-10 header">
            attributes
        </div>
    </div>
</div>
<div class="container mb-5"  >
    {% for key,value in bindOptions.items %}
    {% if key == "bindDomainEntries" %}
    {% for obj in value %}
    <div class="row" ondrop="drop(event)" ondragover="allowDrop(event)"  draggable="true" ondragstart="drag(event)">
        <div class="col-2">
            <!--<div class="container">-->
                <div class="row">
                    <div class="col-8">
                        {{ obj.type }}
                    </div>
                    <div class="col-4">
                        <a href="#" onclick="javascript:deleteRow()"><i class="fas fa-minus-square"></i></a>
                        <a href="#" onclick="javascript:editRow()"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
            <!--</div>-->
        </div>
        {% if obj.type == "comment" %}
        <div class="col-10 read-only">
            {{ obj.full_line }}
        </div>
        {% elif obj.type == "global options" %}
        <div class="col-10 read-only">
            {{ obj.full_line }}
        </div>
        {% elif obj.type == "start of authority" %}
        <div class="col-sm-3 editable" contenteditable="true">
            {{ obj.subdomain }}
        </div>
        <div class="col-sm-1 editable" contenteditable="true">
            {{ obj.entrydir }}
        </div>
        <div class="col-sm-1 editable" contenteditable="true">
            {{ obj.entrytype }}
        </div>
        <div class="col-sm-2 editable" contenteditable="true">
            {{ obj.target }}
        </div>
        <div class="col-sm-3 editable" contenteditable="true">
            {{ obj.target2 }}
        </div>
    </div>
    <div class="row">

        <div class="col-2"></div>
        <div class="col-sm-5 header" contenteditable="false">
            parameter
        </div>
        <div class="col-sm-5 header" contenteditable="false">
            comment
        </div>

    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10 editable" contenteditable="false">
            {% for opt in obj.parameters_list %}
            <div class="row">
                <div class="col-6 optLeft" contenteditable="true">
                    {{ opt.value }}
                </div>
                <div class="col-6 optRight" contenteditable="true">
                    {{ opt.comment }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% elif obj.type == "entry" or obj.type == "disabled-entry" %}
        <div class="col-3 editable {{obj.type}}" contenteditable="true">
            {{ obj.subdomain }}
        </div>
        <div class="col-1 editable {{obj.type}}" contenteditable="true">
            {{ obj.ttl }}
        </div>
        <div class="col-1 editable {{obj.type}}" contenteditable="true">
            {{ obj.entrydir }}
        </div>
        <div class="col-1 editable {{obj.type}}" contenteditable="true">
            {{ obj.entrytype }}
        </div>
        <div class="col-4 editable {{obj.type}}" contenteditable="true">
            {{ obj.target }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    <div aria-hidden="true" aria-labelledby="AddNewEntryModal" class="modal fade" id="addNewEntryPopup" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add new entry</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                entry-type:
                            </div>
                            <div class="col-6">
                                <select onchange="javascript:evalSelect()">
                                    <option value=" ">&nbsp;</option>
                                    <option value="comment">Comment</option>
                                    <option value="entry">DNS entry</option>
                                    <option value="global-opt">Global option</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="container hidden add_section" id="div_add_comment">
                        <div class="row">
                            <div class="col-6">comment<BR>(without leading ";")</div>
                            <div class="col-6"><input name="i_newComment" type="text"/></div>
                        </div>
                    </div>
                    <div class="container hidden add_section" id="div_add_global-opt">
                        <div class="row">
                            <div class="col-6">option<BR>(without leading "$")</div>
                            <div class="col-6"><input name="i_newOption" type="text"/></div>
                        </div>
                    </div>
                    <div class="container hidden add_section" id="div_add_entry">
                        <div class="row">
                            <div class="col-6">subdomain</div>
                            <div class="col-6"><input name="i_entry_p1" type="text"/></div>
                        </div>
                        <div class="row">
                            <div class="col-6">ttl</div>
                            <div class="col-6"><input name="i_entry_p2" type="text"/></div>
                        </div>
                        <div class="row">
                            <div class="col-6">direction</div>
                            <div class="col-6"><select name="i_entry_p3">
                                <option value=" ">&nbsp;</option>
                                <option value="IN">IN</option>
                                <option value="OUT">OUT</option>
                            </select></div>
                        </div>
                        <div class="row">
                            <div class="col-6">type</div>
                            <div class="col-6">
                                <select name="i_entry_p4">
                                    <!-- TODO: add values dynamically according to RFC
                                    https://tools.ietf.org/html/rfc1886
                                    https://en.wikipedia.org/wiki/List_of_DNS_record_types
                                    -->
                                    <option value=" ">&nbsp;</option>
                                    <option value="A">A</option>
                                    <option value="AAAA">AAAA</option>
                                    <option value="NS">NS</option>
                                    <option value="TXT">TXT</option>
                                    <option value="CNAME">CNAME</option>
                                    <option value="MX">MX</option>
                                    <option value="PTR">PTR</option>
                                    <option value="SOA">SOA</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">target</div>
                            <div class="col-6"><input name="i_entry_p5" type="text"/></div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" type="button">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="m-5">&nbsp;</div>
<div class="fixed-bottom p-2 bg-shady">
    <button class="btn btn-primary" data-target="#addNewEntryPopup" data-toggle="modal" type="button">
        (+) Add new entry
    </button>
    <button class="btn btn-primary" data-target="#addNewEntryPopup" data-toggle="modal" type="button">
        Save config
    </button>
    <button class="btn btn-primary" data-target="#addNewEntryPopup" data-toggle="modal" type="button">
        Restart bind
    </button>
    <button class="btn btn-primary" data-target="#addNewEntryPopup" data-toggle="modal" type="button">
        Save config & restart bind
    </button>

    </div>
</div>



</body>
</html>